/* Global ================================ */

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
    background-color: #0d1117;
}

img {
    width: 25px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.octicon {
    fill: #f0f6fc;
}

.icon-details {
    cursor: pointer;
}


.light-border {
    border: 1px solid rgba(128, 128, 128, .2);
}


/* Header ================================ */

header {
    display: flex;
    align-items: center;

    padding: 15px 30px;

    color: #f0f6fc;
    background-color: #161B22;
}

.header-explore-content {
    display: flex;

    margin-right: auto;
}

.logo {
    margin-right: 15px;
}

.search-bar {
    position: relative;
    display: flex;

    padding: 5px 10px;
    margin-right: 15px;

    height: fit-content;
    border-radius: 5px;

    background-color: #0d1117;
}

.search-bar input {
    width: 250px;
    
    border: none;

    color: #f0f6fc;
    background-color: transparent;

    transition: width .2s;
}

.search-bar input::placeholder {
    color: #b1bac4;
}

.search-bar input:focus {
    width: 500px;
}

.search-bar__shortcut {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    width: 20px;
    height: 20px;

    border-radius: 3px;

    font-size: 12px;

    color: gray;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    display: flex;

    gap: 10px;
}

.header-nav a {
    font-size: 14px;
    font-weight: bold;

    color: #f0f6fc;
}

.header-nav a:hover {
    opacity: .8;
}

header .icon {
    margin-right: 15px;
}

header details {
    position: relative;
}

header details summary {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    gap: 6px;
}

header details summary::-webkit-details-marker {
    width: 6px;
    height: 8px;

}

header details[open] summary::-webkit-details-marker{
    width: 8px;
    height: 6px;
}


header .user .details-menu {
    width: 178px;

}

header .user.icon img {
    border-radius: 50%;
}


.details-menu {
    position: absolute;
    right: 0;
    top: 28px;

    display: flex;
    flex-direction: column;

    padding: 5px 0;

    width: 160px;

    border-radius: 4px;

    background-color: #21262d;
}


.details-separator {
    width: 100%;
    height: 1px;

    margin: 5px 0;

    background-color: gray;

    opacity: .2;
}

.details-content {
    padding: 10px 15px;
}

button.details-link {
    width: 100%;
    
    border: none;

    background-color: transparent;
}

.details-menu .details-link {
    height: 30px;
}

.details-menu .details-link:hover {
    background-color: #1f6feb;
}

.details-menu .details-link {
    display: flex;
    align-items: center;

    font-size: 14px;

    color: #c9d1d9;
} 

.details-signed-in {
    font-size: 14px;
    line-height: 20px;

    color: #c9d1d9;
}

.details-status-btn {
    display: flex;
    align-items: center;

    padding: 6px 5px;
    border-radius: 6px;

    font-size: 12px;
    
    color: #6e7681;
}

.details-status-btn svg {
    fill: #6e7681;

    margin-right: 8px;
}

.details-set-status:hover svg {
    fill: #58a6ff;
}

.details-set-status:hover p {
    color: #58a6ff;
}

